
<div id="header" class="container">
  <h1><i class="fas fa-hamburger"></i> Welcome to Chris's <span class="yellowText">Burger</span> Joint!</h1>
  <hr id="headerLineBreak">
  <h2>Select from the choices below or add in your own burger</h2>
</div>


<div class="row">
  <div id="burgers" class="col-md-6">
    <h2>READY TO EAT</h2>
    <hr>
    <ul>
        {{#each burger}}
          {{#unless devoured}}
            <div class="row">
              <div class="col-md-6">
                <p>{{burger_name}}</p>
                <hr>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-warning eaten" data-id="{{id}}" data-eaten="{{devoured}}">
                  Eat DA Burger!!
                </button>          
              </div>          
            </div>

          {{/unless}}  
        {{/each}}        
    </ul>    
  </div>
  <div id="devouredBurgers" class="col-md-6">
    <h2>DEVOURED BURGERS</h2>
    <hr>
    <ul>
        {{#each burger}}
          {{#if devoured}}
            <div class="row">
              <div class="col-md-6">
                <p>{{burger_name}}</p>
                <hr>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-light eaten" data-id="{{id}}" data-eaten="{{devoured}}">
                  Make A New Burger!!
                </button>          
              </div>          
            </div>

          {{/if}}
        {{/each}}        
    </ul>    
  </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div id="addBurger" class="container">
  <h2>ADD A BURGER</h2>
  <hr>
  <form class="create-form">

    <div class="form-group">
      <input type="text" id="burger" name="name">
    </div>
    <button type="submit" class="btn btn-warning">Add Burger</button>
  </form> 
</div>
